@font-face { font-family: Norse; src: url('Norse.otf'); }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
}
.side-hero {
    
    width: 33.33vw;
    height: 100vh;
    background-image: url(./img/side-img.jpg);
    background-position: 40% 60%;
}

.side-img {
    height: 16vh;
    margin-right: 18px;
}
.side-hero__text {
    background-color: rgba(0,0,0,.44);
    height: auto;
    width: 100%;
    margin-top: 125px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16vh;
    font-family: Norse;
    padding-top: 12px;
    padding-bottom: 12px;
}

.sign-up {
    background-color: coral;
    width: 66.66vw;
    height: 100vh;
}